
<div class="col-md-12">
 <div class="col-md-12 header"><span>Projects</span></div>
 <div class="col-md-12">
	 <div class="col-md-2" style="text-align:left;">
		 <button class="btn btn-danger" ng-click="home()">Home&nbsp;<i class="glyphicon glyphicon-home"></i></button>
	 </div>
	<div class="col-md-2 pull-right" style="text-align:right;">
	<button class="btn btn-primary" ng-click="addNew()">Add Projects</button>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-offset-1 col-md-10 welcomeDiv">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="project" ng-hide="true">
						Project #
					</th>
					<th class="project">
						Project Name
					</th>
					<th class="project">
						Project Start Date
					</th>
					<th class="project">
						Project End Date 
					</th>
					<th class="project">
						Project Client Name
					</th>
					<th class="project">
						
					</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="project in projectArray">
					<td class="id" ng-hide="true">
						{{project._id}}
					</td>
					<td>
						{{project.projectName}}
					</td>
					<td>
						{{project.projStartdate}}
					</td>
					<td>
						{{project.projEnddate}}
					</td>
					<td>
						{{project.projClientName}}
					</td>
					<td>
						<span ng-click="edit($event)" style="cursor:pointer;" class="glyphicon glyphicon-edit"></span>
						<span ng-click="delete($event)" style="cursor:pointer;" class="glyphicon glyphicon-remove"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>


