
<div class="col-md-12">
 <div class="col-md-12 header"><span>Tasks</span></div>
 <div class="col-md-12">
	 <div class="col-md-2" style="text-align:left;">
		 <button class="btn btn-danger" ng-click="home()">Home&nbsp;<i class="glyphicon glyphicon-home"></i></button>
	 </div>
	<div class="col-md-2 pull-right" style="text-align:right;">
	<button class="btn btn-primary" ng-click="addNew()">Add Task</button>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-offset-1 col-md-10 welcomeDiv">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="project" ng-hide="true">
						#
					</th>
					<th class="project">
						Task 
					</th>
					<th class="project">
						Project Name
					</th>
					<th class="project">
						Assigned To
					</th>
					<th class="project">
						Status
					</th>
					<th class="project">
						
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in taskArray">
				<td class="id" ng-hide="true">
					{{task._id}}
				</td>
				<td>
					{{task.taskName}}
				</td>
				<td>
					{{task.taskProject}}
				</td>
				<td>
					{{task.assignedTo}}
				</td>
				<td>
					{{task.status}}
				</td>
				<td>
					<span ng-click="edit($event)" style="cursor:pointer;" class="glyphicon glyphicon-edit"></span>
					<span ng-click="delete($event)" style="cursor:pointer;" class="glyphicon glyphicon-remove"></span>
				</td>
				</tr>
			</tbody>
		</table>
	</div>


